[alias]
    st = status --short --branch
    co = checkout
    br = branch
    ci = commit
    unstage = restore --staged
    last = log -1 --stat
    lg = log --oneline --graph --decorate --all
[init]
    defaultBranch = main
[fetch]
    prune = true
[pull]
    ff = only
[push]
    default = simple
[color]
    ui = auto
[diff]
    algorithm = histogram
[merge]
    conflictStyle = zdiff3
[include]
    path = ~/.gitconfig.local
